/* CSS declarations go here */

html, body {
	width: 100%;
  	height: 100%;
  	min-height: 100%;
  	margin:0;
  	padding:0;
  	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
/*
.user-icon {
	display: none !important;
	float: right !important;
	position: relative !important;

}*/
#bs-example-navbar-collapse-1 {
	margin-top: 3px;
}

#at-nav-button.btn-default{
	border: 1px solid #ff5252;
	border-radius: 17px;
	color: #ff5252;
}

#at-nav-button.btn-default:hover {
	background-color: transparent;
	text-decoration: underline;
}

.navbar-right a {
	padding-left: 3px !important;
	padding-right: 2px !important;
}
.navbar-right li {
	margin-top: 5px;
}
.meteor-blog-single .meteor-blog-full-width-image {
	height: 30% !important;
}
.wrap-bg {
	height:100%;
}

#wrap {
	width: 100%;
	height: 100%;
	/*margin-bottom: 20rem;*/
}
.meteor-blog-post {
	/*padding-top: 10rem;*/
}

.wrap-users {
	padding-top: 10rem;
}


#main {
	width: 100%;
	height: 100%;
	/*padding-bottom: 150px;*/
	} 


#footer {

  position: relative;
  text-align: center;
  padding-top: 5rem;
  color:#eceff1;
  background-color: #37474f;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 250%;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;

} 

.active-link a {
	color: #ff5252 !important;
	border-bottom: 1px solid;
}

span.author {
	font-size: 1.3rem;
	font-style: italic;
	font-family: 'Playfair Display', serif; 
	color:#ec407a; 
}

.thumb-details h5 {
	font-family: 'Open Sans',sans-serif !important;
	font-weight: bold;
}



.welcome-text {
	font-family: 'Playfair Display', serif; 
	margin-top: 25rem;
	text-align: center;
	color: white;

}

.welcome-text h1{
	font-weight: bold;
	font-size: 6rem;

}

div.meteor-blog-post-main {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.meteor-blog-post-main img{
  border: 0px !important;
}
.posts {
	margin-right: 3rem;
	margin-left: 3rem;
}

div.meteor-blog-index {
	padding-top: 8rem;
}

.meteor-blog-index .meteor-blog-post {
  border-bottom: 1px solid #EEE;
  padding-bottom: 40px;

  }

div.meteor-blog-index h2{
	text-align: center;
	margin-top: 5rem !important;
}

p.commentable-section {
	font-family: 'Open Sans', sans-serif;
	font-size: 85% !important;
	line-height: 230% !important;
}

.meteor-blog-post-tags p a {
	color: #ff5252  !important;
}

.meteor-blog-post-excerpt a:hover {
    text-decoration: none !important;
	color: #ff5252   !important;

}

.meteor-blog-post-excerpt {
	font-size: 2rem;
	line-height: 3rem !important;
    text-decoration: none !important;

}

.meteor-blog-post-excerpt a {
	font-family: 'Playfair Display', serif; 
	color: #263238 !important;

}


.meteor-blog-post-excerpt h2 {
	margin-top: 1rem !important;
	margin-bottom: 3rem !important;
	font-family: 'Playfair Display', serif; 
	font-size: 3.5rem !important;
	color: #263238 !important;
	font-weight: 700 !important;
}

.meteor-blog-post-meta {
	text-align: center;
	margin-bottom: 2rem !important;
	font-size: 1.20rem;
}

.medium-insert-images figure {
	margin: 4rem;
}

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #263238;
}

header {
	font-family: 'Open Sans', sans-serif;
}
h1.meteor-blog-post-title.text-center {
	margin-top: 1rem !important;
	margin-bottom: 3rem !important;
	font-family: 'Playfair Display', serif; 
	font-size: 3.5rem !important;
	color: #263238 !important;
	font-weight: 700 !important;
}

.meteor-blog-single {
  /*padding-right: 20px !important;*/
  /*padding-left: 20px !important;*/
  overflow: hidden;
  padding-top: 8rem;
}

.meteor-blog-post-meta {
	margin-bottom: 3rem !important;
	font-size: 1.20rem;
	line-height: 150%;

}

.meteor-blog-post .meteor-blog-post-thumbnail img {
	display: block ;
	margin-right: auto ;
	margin-left: auto ;
}

.meteor-blog-post .meteor-blog-post-thumbnail img {
	display: block ;
	margin-right: auto ;
	margin-left: auto ;
}
.meteor-blog-post .meteor-blog-post-excerpt h2 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;		
}

h1.meteor-blog-post-title.text-center {
	
	margin-bottom: 2rem !important;		
}
.meteor-blog-post-thumbnail {
	width: 100% !important;
	height: auto !important;
	margin-left: auto !important;
}

.meteor-blog-post-thumbnail a {
	border-style: none !important;
}


.meteor-blog-post-main h1 {
	margin-bottom: 8px ;
}


.container {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.navbar-collapse {
	border-width: 0px;
}

.navbar-default {
	border-width: 0px;
	background-color: #ffffff;
	opacity: 0.95;
	padding-left: 10rem;
	padding-bottom: 1rem;
	padding-right: 10rem;
}


.columns {
	/*margin:1rem ;*/
	padding:2rem;
}

#commentable-area {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	line-height: 250%;
}

.description {
	color: #263238;
}

.meteor-blog-back-link a{
	color: #455a64;
}

.info td {
	background-color: #546e7a !important;
	color:#ffffff ;
}

.meteor-blog-admin h1 {
	margin-bottom: 5rem;
	font-family: 'Open Sans', sans-serif;
}

.meteor-blog-admin {
	margin-top: 10rem;
	padding-top: 5rem;
}

footer {
  text-align: center;
  margin-top: 26rem;  
  position: relative ;
  bottom: 0 ;
  width: 100%;
  padding-top: 5rem;
  /* Set the fixed height of the footer here */
  height: 15rem;
  color:#eceff1;
  background-color: #37474f;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 250%;
}

.navbar-toggle {
	background-color: transparent !important;
	border-color: transparent !important; 
}
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

footer .wrap-social-buttons a {
	color: #ef9a9a !important;
}
footer a:hover {
	color: #ffcdd2  !important;
}
footer a:visited {
	color: #ffcdd2;
}

.meteor-blog-back-link a {
	color:#333
}

.meteor-blog-back-link a:hover {
	color:#ef9a9a  
}
.share-buttons a {
	color:#333 ;
}


.share-buttons a:hover {
	color: #ef9a9a  ;
}
.pic-profile a {
	padding-top: 2px !important;
	padding-left: 10px !important;
	
}
.pic-profile {
	padding-top: 0rem !important;
	border-radius: 50%;
}
.user-icon > a {
	/* padding-top: 1rem !important;*/
	vertical-align: bottom;
}

.nav > li > a > img {
	max-width: 45px;
}

.login a {
	padding-left: 2px;
	color: #ff5252;
}
.login > a {
	padding-left: 2px;
	color: #ff5252;
}
li.login {
	 /*border: 5px solid red !important;*/

}

a.dsq-brlink {
	display: none;
}

.list-menu {
	display: none;
}

.list-group-item {
	border: 0px solid #ddd;
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
	font-family:'Playfair Display', serif; 
	font-size: 2.5rem;
	color: #263238 !important;
}
li.circle-button {
	border: 1px solid red !important;
	padding: 2px;
	border-radius: 50% !important;
	-moz-border-radius: 50% !important;
    -webkit-border-radius: 50px !important;
    margin-top: 10px;
}

li.circle-button > a {
	padding-top: 4px;
	padding-bottom: 4px;
}
 @media only screen and (min-width:768px) and (max-width: 992px) {
 	.navbar-brand {
 		display: none;
 	}
 }
@media only screen and (max-width : 768px) {
.navbar-default {
	opacity: 0.95;
	padding-left: 2rem;
	padding-bottom:0rem;
	padding-right: 2rem;
}

.list-menu {
	display: block;
}
.active-link a {
	border-bottom: none;
}	
.navbar-header {
	margin-left: 4rem;
}
.navbar-toggle {
	margin-right: 0rem !important;
}
.list-menu-desktop {
	display: none;
}
/*
.user-icon {
	display: block !important;
}
.user-icon > a {
	padding-top: 0rem !important;
}	*/
 }